<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="feed">
    <div class="card" th:if="${page}" th:each="post : ${page}">
        <div class="card-image">
            <img th:if="${post.imageUrl == null}" class="responsive-img" th:src="${'https://external-preview.redd.it/vv-WdKFwTgIco5PlqCKnJexGpgdZ86qqLUyefWndalw.jpg?auto=webp&s=d96c4ce74f5363a344ded991c03691fcc8f0a960' + #strings.randomAlphanumeric(2)}" alt="placeholder" />
            <img class="responsive-img post-img" th:if="${post.imageUrl != null}" th:src="${'/uploads/' + post.imageUrl }" />
<!--fer -->
            <span class="card-title blue-grey darken-3" th:text="${post.title}"></span>
            <a class="waves-effect waves-light btn-floating halfway-fab pulse" th:href="@{/posts/{id}(id=${post.id})}"><i class="material-icons">insert_drive_file</i></a>
        </div>
        <div class="card-content">
            <p class="content" th:text="${post.body}"></p>
        </div>
    </div>
</div>

</body>
</html>